<!-- Register -->
<div class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in register_form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <small>{{ error }}</small><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>
